<form id="activeform" method="POST" action="data_db">
	<table id="tablelist" class="full">
		<tbody>
			<tr style="background-color: #bee2be;">
			<input name="testing" type="hidden" />
			  <td><b>Ambiente</b></td><td><select name="ambiente"><option value="test">Desarrollo</option><option value="prod" >Produccion</option></select>
			  </td>
			</tr>
			<tr style="background: gray;">
				<td><b>Datos Decidir</b></td>
				<td></td>
			</tr>
			<tr>
		  	   <td><b>Public Key</b></td><td><input type="text" name="key_public" value=""></input>
		  	   <div class="description">ejemplo: 41cbc74acc604a109157bb8394561d27</div>
		  	</td>
		  	</tr>
			<tr>
		  	   <td><b>Private Key</b></td><td><input type="text" name="key_private" value=""></input>
		  	   <div class="description">ejemplo: 1fb6dc55c0a1489db411a8ee8f9c9707</div>
		  	</td>
		  	</tr>
			<tr>
			  <td><b>Operacion</b></td><td><input type="text" name="operacion" value="sdk_php9067596"></input></td>
			</tr>
			<tr>
			  <td><b>Currency</b></td><td><input type="text" name="currencydec" value="ARS"></input></td>
			</tr>
			<tr>
			  <td><b>User Id</b></td><td><input type="text" name="user_id" value="pepe"></input></td>
			</tr>
			<tr>
			  <td><b>User mail</b></td><td><input type="text" name="user_mail" value="user@mail.com"></input></td>
			</tr>
			<tr>
			  <td><b>Medio Pago</b></td><td><select name="decpaymentmethod"><option value="1">VISA</option><option value="6" >AMEX</option><option value="15" >MASTERCARD</option></select>
			  </td>
			</tr>
			<tr>
			  <td>
			  	<b>Bin</b></td><td><input type="text" name="bin" value="450799"></input>
			  	<div class="clear">
		  	   		<div class="description">Primeros seis numeros de la tarjeta</div>
		  	   	</div>	
			  </td>
			</tr>
			<tr>
			  <td><b>Cuotas</b></td><td><select name="cuotas"><option value="1">1</option><option value="6" >6</option><option value="12" >12</option></select></td>
		    </tr>
			<tr>
			  <td><b>Nombre de establecimiento</b></td><td><input type="text" name="establishment" value="Test"></input></td>
			</tr>
			<tr style="background: gray;">
			  <td><b>Datos Todopago</b></td>
			  <td></td>
			</tr>
			<tr>
		  	   <td><b>Merchant</b></td><td><input type="text" name="merchant" value="2153"></input></td>
		  	</tr>
		  	<tr>
		  	   <td><b>Security</b></td><td><input type="text" name="security" value="TODOPAGO f3d8b72c94ab4a06be2ef7c95490f7d3"></input></td>
		  	</tr>
		  	<tr>
		  	   <td><b>channel</b></td><td><input type="text" name="channel" value="BVTP"></input></td>
		  	</tr>
		  	<tr>
		  	   <td><b>Tipo de operacion</b></td><td><input type="text" name="operationtype" value="Compra"></input></td>
		  	</tr>
		  	<tr>
		  	   <td><b>Codigo de moneda</b></td><td><input type="text" name="currency" value="32"></input></td>
		  	</tr>
		  	<tr>
		  	   <td><b>Concepto</b></td><td><input type="text" name="concept" value="compra"></input></td>
		  	</tr>
		  	<tr>
		  	   <td><b>Monto</b></td><td><input type="text" name="amount" value="10,10"></input></td>
		  	</tr>
		  	<tr>
		  	   <td>
		  	         <b>Preselección de pago del usuario</b>
		  	   </td>
		  	   <td>
		  	   	<div class="left">
		  	   		<input type="text" name="buyerpreselectionmp" id="preselectionmp" size="10"value="1"></input>
		  	   	</div>
		  	   	<div class="left">
		  	   		<input type="text" name="buyerpreselectionbank" id="preselectionbank" size="10" value="42"></input>
		  	   	</div>
		  	   	<div class="clear">
		  	   		<div class="description">ejemplo: 1-17 (id medio de pago y id de banco)</div>
		  	   	</div>
		  	   </td>
		  	</tr>
		  	<tr>
		  	   <td><b>Medios de pago disponibles</b></td><td><input type="text" name="availablepaymentmethods" value="1"></input>
		  	   	<div class="description">ejemplo: 1,2,3</div>
		  	   </td>
		  	</tr>
		  	<tr>
		  	   <td><b>Bancos disponibles</b></td><td><input type="text" name="availablebanks" value=""></input>
		  	   	<div class="description">ejemplo: 1,2,17 (Si no se envían datos se habilitan todos los bancos del usuario)</div>
		  	   </td>
		  	</tr>
		</tbody>
		<tfoot>
		  <tr>
			<td colspan="2"><a href="/" class="btn error site">Cancelar</a>&nbsp;&nbsp;&nbsp;<a href="create.php" onclick="$('#activeform').submit();return false;" class="btn site" id="send">Guardar</a></td>
		  </tr>
		</tfoot>
	</table>
</form>