<html>

<head>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <link href="css/styles.css" media="screen" rel="stylesheet" type="text/css">
</head>

<body>



<div id="container">
    <div id="content">
        <div class="w-content">

        <div class="w-section"></div>
        <div id="m-status" style="margin-bottom: 300px">    
            <div class="block">



            <% if(seccion==="main"){ %>
               <%- include('main.ejs'); %>

             <% } else if(seccion==="data") { %>  
               <%- include('data.ejs'); %>
            <% } %>


        </div>
    </div>
</div>
<div class="clearfix"></div>
</div>
<div id="footer">
</div>
</div> 

</body>
</html>
